In [1]:
#First we import the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#load the file
working_on ='M1'
values = pd.read_excel('nadata.xlsx')

In [3]:
values.head()

,Κωδικός πεδίου,Αλεξάνδρειο ΤΕΙ Θεσσαλονίκης,ΣΥΝΟΛΟ Αλεξάνδρειο ΤΕΙ Θεσσαλονίκης,Ανωτάτη Σχολή Καλών Τεχνών,ΣΥΝΟΛΟ Ανωτάτη Σχολή Καλών Τεχνών,Αριστοτέλειο Πανεπιστήμιο Θεσσαλονίκης,ΣΥΝΟΛΟ Αριστοτέλειο Πανεπιστήμιο Θεσσαλονίκης,ΑΣΠΑΙΤΕ,ΣΥΝΟΛΟ ΑΣΠΑΙΤΕ,Γεωπονικό Πανεπιστήμιο Αθηνών,...,ΤΕΙ Κρήτης,ΣΥΝΟΛΟ ΤΕΙ Κρήτης,ΤΕΙ Πειραιά,ΣΥΝΟΛΟ ΤΕΙ Πειραιά,ΤΕΙ Πελοποννήσου,ΣΥΝΟΛΟ ΤΕΙ Πελοποννήσου,ΤΕΙ Στερεάς Ελλάδας,ΣΥΝΟΛΟ ΤΕΙ Στερεάς Ελλάδας,Χαροκόπειο Πανεπιστήμιο,ΣΥΝΟΛΟ Χαροκόπειο Πανεπιστήμιο
0,M1.020,0,1,0,1,1,1,0,1,0,...,0,1,0,1,0,1,0,1,0,1
1,M1.022,0,1,0,1,1,1,0,1,0,...,0,1,0,1,0,1,0,1,0,1
2,M1.024,0,1,0,1,1,1,0,1,0,...,0,1,0,1,0,1,0,1,0,1
3,M1.026,0,1,0,1,1,1,0,1,0,...,0,1,0,1,0,1,0,1,0,1
4,M1.027,0,1,0,1,1,1,0,1,0,...,0,1,0,1,0,1,0,1,0,1

In [4]:
# get column names
col_names = values.columns[1:]
#print(col_names)
#get rows
rows = values['Κωδικός πεδίου']
print(rows)

0      M1.020
1      M1.022
2      M1.024
3      M1.026
4      M1.027
        ...
99     M1.169
100    M1.170
101    M1.176
102    M1.172
103    M1.174
Name: Κωδικός πεδίου, Length: 104, dtype: object

In [5]:
#iterate through columns to create a columns with only the universities name, not the SYNOLO ones

universities = []
for i in range(0,len(col_names),2):
    #print(col_names[i])
    universities.append(col_names[i])

#print(len(universities))


def get_sum_of_row_values(index):
    new_sum_uni = 0
    new_sum_total_uni = 0
    for uni in universities:
        new_sum_uni += values[uni][index]
        new_sum_total_uni += values['ΣΥΝΟΛΟ '+uni][index]
    return new_sum_uni,new_sum_total_uni

def get_percentages(value_a,total):
    percent = value_a/total *100
    return percent

sum_of_each_code_freq = [get_sum_of_row_values(i)[0] for i in range(len(rows)) ]
sum_of_total_uni_freq = [get_sum_of_row_values(i)[1] for i in range(len(rows)) ]

print(sum_of_each_code_freq)
print(sum_of_total_uni_freq)


percentages = [ get_percentages(sum_of_each_code_freq[i],sum_of_total_uni_freq[i]) for i in range(len(rows))]
print(percentages)

[2, 2, 2, 3, 2, 2, 1, 2, 3, 2, 5, 1, 2, 2, 1, 1, 1, 2, 1, 2, 2, 2, 1, 1, 1, 3, 2, 3, 3, 5, 4, 5, 2, 1, 1, 1, 1, 1, 3, 2, 2, 1, 5, 6, 2, 3, 2, 2, 6, 2, 2, 4, 4, 3, 5, 6, 2, 3, 3, 3, 4, 2, 2, 2, 1, 3, 4, 3, 4, 1, 2, 2, 1, 1, 2, 2, 1, 2, 7, 7, 3, 2, 1, 1, 2, 1, 12, 8, 3, 2, 11, 14, 2, 2, 12, 12, 12, 3, 8, 8, 5, 3, 2, 1]
[41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41]
[4.878048780487805, 4.878048780487805, 4.878048780487805, 7.317073170731707, 4.878048780487805, 4.878048780487805, 2.4390243902439024, 4.878048780487805, 7.317073170731707, 4.878048780487805, 12.195121951219512, 2.4390243902439024, 4.878048780487805, 4.878048780487805, 2.4390243902439024, 2.4390243902439024, 2.4390243902439024, 4.878048780487805, 2.4390243902439024, 4.878048780487805, 4.878048780487805, 4.878048780487805, 2.4390243902439024, 2.4390243902439024, 2.4390243902439024, 7.317073170731707, 4.878048780487805, 7.317073170731707, 7.317073170731707, 12.195121951219512, 9.75609756097561, 12.195121951219512, 4.878048780487805, 2.4390243902439024, 2.4390243902439024, 2.4390243902439024, 2.4390243902439024, 2.4390243902439024, 7.317073170731707, 4.878048780487805, 4.878048780487805, 2.4390243902439024, 12.195121951219512, 14.634146341463413, 4.878048780487805, 7.317073170731707, 4.878048780487805, 4.878048780487805, 14.634146341463413, 4.878048780487805, 4.878048780487805, 9.75609756097561, 9.75609756097561, 7.317073170731707, 12.195121951219512, 14.634146341463413, 4.878048780487805, 7.317073170731707, 7.317073170731707, 7.317073170731707, 9.75609756097561, 4.878048780487805, 4.878048780487805, 4.878048780487805, 2.4390243902439024, 7.317073170731707, 9.75609756097561, 7.317073170731707, 9.75609756097561, 2.4390243902439024, 4.878048780487805, 4.878048780487805, 2.4390243902439024, 2.4390243902439024, 4.878048780487805, 4.878048780487805, 2.4390243902439024, 4.878048780487805, 17.073170731707318, 17.073170731707318, 7.317073170731707, 4.878048780487805, 2.4390243902439024, 2.4390243902439024, 4.878048780487805, 2.4390243902439024, 29.268292682926827, 19.51219512195122, 7.317073170731707, 4.878048780487805, 26.82926829268293, 34.146341463414636, 4.878048780487805, 4.878048780487805, 29.268292682926827, 29.268292682926827, 29.268292682926827, 7.317073170731707, 19.51219512195122, 19.51219512195122, 12.195121951219512, 7.317073170731707, 4.878048780487805, 2.4390243902439024]

In [6]:
#combine codes and percentages
final = list(zip(rows,percentages))
print(final)

[('M1.020', 4.878048780487805), ('M1.022', 4.878048780487805), ('M1.024', 4.878048780487805), ('M1.026', 7.317073170731707), ('M1.027', 4.878048780487805), ('M1.028', 4.878048780487805), ('M1.030', 2.4390243902439024), ('M1.031', 4.878048780487805), ('M1.032', 7.317073170731707), ('M1.033', 4.878048780487805), ('M1.034', 12.195121951219512), ('M1.036', 2.4390243902439024), ('M1.037', 4.878048780487805), ('M1.038', 4.878048780487805), ('M1.040', 2.4390243902439024), ('M1.042', 2.4390243902439024), ('M1.043', 2.4390243902439024), ('M1.044', 4.878048780487805), ('M1.045', 2.4390243902439024), ('M1.046', 4.878048780487805), ('M1.047', 4.878048780487805), ('M1.048', 4.878048780487805), ('M1.050', 2.4390243902439024), ('M1.051', 2.4390243902439024), ('M1.052', 2.4390243902439024), ('M1.055', 7.317073170731707), ('M1.056', 4.878048780487805), ('M1.180', 7.317073170731707), ('M1.181', 7.317073170731707), ('M1.182', 12.195121951219512), ('M1.062', 9.75609756097561), ('M1.063', 12.195121951219512), ('M1.178', 4.878048780487805), ('M1.064', 2.4390243902439024), ('M1.065', 2.4390243902439024), ('M1.066', 2.4390243902439024), ('M1.067', 2.4390243902439024), ('M1.068', 2.4390243902439024), ('M1.069', 7.317073170731707), ('M1.177', 4.878048780487805), ('M1.070', 4.878048780487805), ('M1.071', 2.4390243902439024), ('M1.072', 12.195121951219512), ('M1.073', 14.634146341463413), ('M1.074', 4.878048780487805), ('M1.075', 7.317073170731707), ('M1.076', 4.878048780487805), ('M1.077', 4.878048780487805), ('M1.078', 14.634146341463413), ('M1.079', 4.878048780487805), ('M1.080', 4.878048780487805), ('M1.081', 9.75609756097561), ('M1.082', 9.75609756097561), ('M1.083', 7.317073170731707), ('M1.084', 12.195121951219512), ('M1.085', 14.634146341463413), ('M1.086', 4.878048780487805), ('M1.087', 7.317073170731707), ('M1.088', 7.317073170731707), ('M1.089', 7.317073170731707), ('M1.090', 9.75609756097561), ('M1.091', 4.878048780487805), ('M1.093', 4.878048780487805), ('M1.094', 4.878048780487805), ('M1.095', 2.4390243902439024), ('M1.096', 7.317073170731707), ('M1.097', 9.75609756097561), ('M1.098', 7.317073170731707), ('M1.111', 9.75609756097561), ('M1.118', 2.4390243902439024), ('M1.119', 4.878048780487805), ('M1.179', 4.878048780487805), ('M1.121', 2.4390243902439024), ('M1.130', 2.4390243902439024), ('M1.137', 4.878048780487805), ('M1.138', 4.878048780487805), ('M1.139', 2.4390243902439024), ('M1.140', 4.878048780487805), ('M1.143', 17.073170731707318), ('M1.144', 17.073170731707318), ('M1.146', 7.317073170731707), ('M1.147', 4.878048780487805), ('M1.148', 2.4390243902439024), ('M1.149', 2.4390243902439024), ('M1.152', 4.878048780487805), ('M1.153', 2.4390243902439024), ('M1.154', 29.268292682926827), ('M1.155', 19.51219512195122), ('M1.157', 7.317073170731707), ('M1.159', 4.878048780487805), ('M1.160', 26.82926829268293), ('M1.161', 34.146341463414636), ('M1.162', 4.878048780487805), ('M1.163', 4.878048780487805), ('M1.164', 29.268292682926827), ('M1.165', 29.268292682926827), ('M1.166', 29.268292682926827), ('M1.167', 7.317073170731707), ('M1.168', 19.51219512195122), ('M1.169', 19.51219512195122), ('M1.170', 12.195121951219512), ('M1.176', 7.317073170731707), ('M1.172', 4.878048780487805), ('M1.174', 2.4390243902439024)]

In [7]:
#sort the list based on the 2nd element, the percentages we make reverse=True because we want descenting order
reverse_sorted = sorted(final, key = lambda x: x[1], reverse=True)
print(reverse_sorted)

[('M1.161', 34.146341463414636), ('M1.154', 29.268292682926827), ('M1.164', 29.268292682926827), ('M1.165', 29.268292682926827), ('M1.166', 29.268292682926827), ('M1.160', 26.82926829268293), ('M1.155', 19.51219512195122), ('M1.168', 19.51219512195122), ('M1.169', 19.51219512195122), ('M1.143', 17.073170731707318), ('M1.144', 17.073170731707318), ('M1.073', 14.634146341463413), ('M1.078', 14.634146341463413), ('M1.085', 14.634146341463413), ('M1.034', 12.195121951219512), ('M1.182', 12.195121951219512), ('M1.063', 12.195121951219512), ('M1.072', 12.195121951219512), ('M1.084', 12.195121951219512), ('M1.170', 12.195121951219512), ('M1.062', 9.75609756097561), ('M1.081', 9.75609756097561), ('M1.082', 9.75609756097561), ('M1.090', 9.75609756097561), ('M1.097', 9.75609756097561), ('M1.111', 9.75609756097561), ('M1.026', 7.317073170731707), ('M1.032', 7.317073170731707), ('M1.055', 7.317073170731707), ('M1.180', 7.317073170731707), ('M1.181', 7.317073170731707), ('M1.069', 7.317073170731707), ('M1.075', 7.317073170731707), ('M1.083', 7.317073170731707), ('M1.087', 7.317073170731707), ('M1.088', 7.317073170731707), ('M1.089', 7.317073170731707), ('M1.096', 7.317073170731707), ('M1.098', 7.317073170731707), ('M1.146', 7.317073170731707), ('M1.157', 7.317073170731707), ('M1.167', 7.317073170731707), ('M1.176', 7.317073170731707), ('M1.020', 4.878048780487805), ('M1.022', 4.878048780487805), ('M1.024', 4.878048780487805), ('M1.027', 4.878048780487805), ('M1.028', 4.878048780487805), ('M1.031', 4.878048780487805), ('M1.033', 4.878048780487805), ('M1.037', 4.878048780487805), ('M1.038', 4.878048780487805), ('M1.044', 4.878048780487805), ('M1.046', 4.878048780487805), ('M1.047', 4.878048780487805), ('M1.048', 4.878048780487805), ('M1.056', 4.878048780487805), ('M1.178', 4.878048780487805), ('M1.177', 4.878048780487805), ('M1.070', 4.878048780487805), ('M1.074', 4.878048780487805), ('M1.076', 4.878048780487805), ('M1.077', 4.878048780487805), ('M1.079', 4.878048780487805), ('M1.080', 4.878048780487805), ('M1.086', 4.878048780487805), ('M1.091', 4.878048780487805), ('M1.093', 4.878048780487805), ('M1.094', 4.878048780487805), ('M1.119', 4.878048780487805), ('M1.179', 4.878048780487805), ('M1.137', 4.878048780487805), ('M1.138', 4.878048780487805), ('M1.140', 4.878048780487805), ('M1.147', 4.878048780487805), ('M1.152', 4.878048780487805), ('M1.159', 4.878048780487805), ('M1.162', 4.878048780487805), ('M1.163', 4.878048780487805), ('M1.172', 4.878048780487805), ('M1.030', 2.4390243902439024), ('M1.036', 2.4390243902439024), ('M1.040', 2.4390243902439024), ('M1.042', 2.4390243902439024), ('M1.043', 2.4390243902439024), ('M1.045', 2.4390243902439024), ('M1.050', 2.4390243902439024), ('M1.051', 2.4390243902439024), ('M1.052', 2.4390243902439024), ('M1.064', 2.4390243902439024), ('M1.065', 2.4390243902439024), ('M1.066', 2.4390243902439024), ('M1.067', 2.4390243902439024), ('M1.068', 2.4390243902439024), ('M1.071', 2.4390243902439024), ('M1.095', 2.4390243902439024), ('M1.118', 2.4390243902439024), ('M1.121', 2.4390243902439024), ('M1.130', 2.4390243902439024), ('M1.139', 2.4390243902439024), ('M1.148', 2.4390243902439024), ('M1.149', 2.4390243902439024), ('M1.153', 2.4390243902439024), ('M1.174', 2.4390243902439024)]

In [ ]:
#plt.rcParams["figure.figsize"] = (20, 10) for PDS
#plt.rcParams["figure.figsize"] = (40, 10) for PMS
plt.rcParams["figure.figsize"] = (60, 10)


plt.xlabel("Δεδομένα")
plt.ylabel("Percentage %")
plt.title("Συχνότητα Μη διαθέσιμων πεδίων "+working_on )


#if i want to not inlcude the first x elements, 
#maybe because the missing fields are dates and make the other values seem irrelevant
#labels, ys = zip(*reverse_sorted[3:])
labels, ys = zip(*reverse_sorted[:36])

xs = np.arange(len(labels)) 
#plt.bar(xs, ys, 0.8, align='center') for PDS
plt.bar(xs, ys, 0.8, align='center')

plt.xticks(xs, labels) #Replace default x-ticks with xs, then replace xs with labels
plt.yticks(ys)

plt.savefig('graph_' + working_on+'.png')